@import 'tailwindcss';
@import 'tw-animate-css';


:root {
  --background: #F4F4F9;
  --foreground: oklch(0.145 0 0);
  --card: #F4F4F9;
  --card-foreground: oklch(0.145 0 0);
  --primary: #021F19;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: #B8DBD9;
  --secondary-foreground: #021F19;
  --muted: #B8DBD9;
  --muted-foreground: oklch(0.556 0 0);
  --accent: #B8DBD9;
  --accent-foreground: #021F19;
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --radius: 0.625rem;
  --sidebar-primary: #021F19;
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: #B8DBD9;
  --sidebar-accent-foreground: #021F19;
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
